server:
  port: 8080

spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      routes:
        - id: company-service
          uri: lb://COMPANY-SERVICE
          predicates:
            - Path=/companies/**,/recruiters/**,/auth/**
          filters:
            - JwtAuth
        - id: job-service
          uri: lb://JOB-SERVICE
          predicates:
            - Path=/jobs/**
          filters:
            - JwtAuth
        - id: application-service
          uri: lb://APPLICATION-SERVICE
          predicates:
            - Path=/applications/**
          filters:
            - JwtAuth

jwt:
  secret: PostulyTnJoinSecretKey2025VeryLongSecretKeyForHS256Algorithm

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
